// resets
h1,h2,h3,h4,h5,h6,p,div{
    margin: 0;
    padding:0;
}

h1{
    grid-column: span 7;
    margin-bottom: 20px;
}

main > section{
    padding-top: 100px;
    padding-bottom: 100px;
    display: grid;  
}


//set items
img{
    max-width: 100%;
}

.no-padding {
    padding: 0!important;
}
.no-margin {
    margin: 0!important;
}

//background colors
#section-1{
    background: @lt-gray;
    &-1{
    background: @dk-gray;
    }
    &-2{
        h5{
            grid-column: span 7;
        }
        background: @lt-gray;
        div > p{

            grid-column: span 5;
            padding-bottom: 45px;
        }
        
        h6 {
            font-size: 34px;
            font-weight: 500;
        }
    }
}
#section-2{
    background: @dk-gray;
    &-1{
        background: @dk-gray;
        h3{
            margin-bottom: 30px;
        }
    }
    &-2{
        background: @drkr-gray;
    }
    &-3{
        background: @ltr-gray;
    }
    &-4{
        background: @mid-gray;
    }
    &-5{
        background: @dkmid-gray;
    }
    &-6{
        background: @ltmid-gray;
    }
    &-7{
        background: @dk-white;
    }
    &-8{
        background: @other-lt-gray;
    }
}
#section-3{
    background: @dk-gray;
    &-1 {
        background: @dk-gray;
    }
    &-2 {
        background: @other-gray;
    }
    &-3 {
        background: @ltr-gray;
    }
    &-4 {
        background: @other-lt-gray;
    }
}

#section-4{
    background: @other-dk-white;
    &-1{
        background: @other-dk-white;
    }
    &-2{
        background: @another-gray;
    }
    &-3{
        background: @ltlt-white;
    }
    &-4{
        background: @dk-gray;
    }
    &-5{
        background: @other-gray;
    }
    &-6{
        background: @ltr-gray;
    }
    &-7{
        background: @other-lt-gray;
    }
    &-8{
        background: @mid-white;
    }
    &-9{
        background: @dkdk-gray;
    }
}
#section-5{//changed from design
    background: @mid-gray;
    &-1{
        background:@mid-gray;
    }
    &-2{
        background: @other-gray;
    }
    &-3{
        background: @drkr-white;
    }
    &-4{
        background: @ltlt-gray;
    }
    &-5{
        background: @other-gray;
    }
    &-6{
        background: @midmid-gray;
    }
    &-7{
        background: @other-dk-white;
    }
    &-8{
        background: @other-gray;
    }
    &-9{
        background: @other-dk-white;
    }
    &-10{
        background: @other-gray;
    }
    &-11{
        background: @midmid-gray;
    }
    &-12{
        background: @ltlt-white;
    }
    &-13{
        background: @other-dk-white;
    }
}
#section-7,
#section-7-1 {
    background: #3B3B3B;
    h3, h4, h5, p {
        color: #fff;
    }
    a {
        color: @blue-active;
        padding-bottom: 5px;
        display: inline-block;
        &:hover {
            color: #B5F3FF ;
        }
    }
}
.badge{
    justify-self: self-start;
    grid-column: ~" 1 / -1 ";
    font-size: 13px;
    line-height: 18px;
    height: 18px;
    font-weight: 600;
    outline-color: transparent;
    color: #000000;
    padding: 0 7px 1px 7px;
    text-transform: uppercase;
    letter-spacing: .075em;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin-bottom: -10px;
    background: transparent;
    // &.blue{
    //     background: @blue;
    // }
    // &.purple{
    //     background: @purple;
    // }
    // &.yellow{
    //     background: @yellow;
    // }
    // &.orange{
    //     background: @orange;
    // }
    // &.green{
    //     background: @green;
    // }
    // &.pink{
    //     background: @pink;

    // }
}


//section 1
#section-1{
    padding-top: 55px;
    h1{
        grid-column: span 6;
        margin-bottom: 10px;
    }
    h6 {
        grid-column: span 6;
        color: #3b3b3b;
    }
    p {
        grid-column: span 6;
    }
    &-1{
        h6,p{
            grid-column-start: 2;
            grid-column-end: 10;
            margin-bottom: 5px;
        }
        h4 {
            margin-bottom: 55px;
        }
        p {
            padding-bottom: 20px;
        }
    }
    &-2 {
        h5 {
            grid-column: span 7;
        }
        h6 {
            font-size: 28px;
            font-weight: 500;
            top: 1px;
            position: relative;
        }
        p {
            padding-bottom: 45px;
            grid-column: span 5!important;
        }
    }
    picture {
        padding: 35px 0 30px;
    }
}

//section 2-3
//Audience
#section-2-3 {
    .row-twelve {
        grid-template-columns: repeat(12,1fr);
    }
}


.direction{
    grid-column: span 10;
    .users{
        
        grid-column-start: 1;
        grid-column-end: 3;
        padding-bottom: 10px;
        
    }
    .needs {
       
        padding-bottom: 10px;
        grid-column-start: 3;
        grid-column-end: 6;
    }
}

//Our story

#section-2-4{
    p {
        grid-column: span 5;
        margin-bottom: 20px;
    }
}
#section-2-6 {
    h6 {
        padding-bottom: 20px;
    }
    p {
        padding-right: 40px;
    }
    .thirds {
        .title {
            font-family: 'SegoeUISemiLight';
            font-weight: 300;
            margin-bottom: 0;
            font-size: 18px;
        }
    }
}
//section 2-7
//Empowering
#section-2 {
    &-7 {
        hr {
            border-top: 1px solid #e2e2e2;
            grid-column-end: 6;
        }
    }
}
.tt-row {
    grid-column: span 10;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(8, 1fr);
    &:before {
        content: "";
        width: 550%;
        border: none;
        background: @ltmid-gray;
        height: 1px;
        margin: 10px;
        align-self: flex-end;
    }
}

//section 2-8
//channels
.table-three{
    .titles{
        color: @body-text-black;
        font-weight: 600;
    }
    .channel{
        grid-column: span 1;
        font-weight: 600;
        grid-column-start: 1;
    }
    .role{
        grid-column: span 2;
        margin-bottom: 20px;
        padding-right: 20px;
    }
    .message{
        grid-column: span 2;
    }
}

//section 3
//editorial sections 

.mag{
    grid-column-start: 1;
    grid-column-end: 6;
    grid-template-columns: repeat(3, 1fr);
    display: grid;
    h2{
        
        color: @body-text-black;
    }
    .thirds {
        grid-column: span 1;
        .desc, .title {
            grid-column: span 1;
            margin-top: 10px;
        }
        .title {
            font-size: 22px;
            color: @text-gray;
        }
        .desc{
            font-size: 18px;
            font-family: 'SegoeUISemiLight';
        }

    }
}
#section-3-1 {
    .thirds {
        .title {
            font-family: SegoeUISemiBold;
            font-weight: 600;
            margin-bottom: 15px;
        }
        .content {
            padding-right: 30px;
        }
    }
}
#section-3-2 {
    .row.magazine {
        grid-template-columns: repeat(6,1fr);
    }
    .mag {
        h2 {
            margin-bottom: 30px;
        }
        .thirds {
            .title {
                margin-bottom: 0px;
            }
        }
    }
}
#section-3-3{
    .thirds{
        grid-template-rows: min-content min-content;
        .title{
            font-size: 20px;
            font-family: 'SegoeUISemiBold';
            padding-bottom: 0;
            margin-bottom: 15px;
        }
        .desc{
            font-size: 15px;
            line-height: 20px;
            padding-right: 100px;
            margin-bottom: 50px;
        }
    }
    .dos, .donts{
        padding: 20px 0;
        .title{
            font-family: 'SegoeUISemiBold';
            text-decoration: none;
        }
    }
    .dos{
        grid-column-start: 1;
        grid-column-end: 3;
    }
    .donts{
        grid-column: span 2;
    }
}

#section-3-4{
    .dos, .donts, .explanation{
        grid-column: span 2;
        padding: 20px 0 20px;
        
        .title{
            font-family: 'SegoeUISemiBold';
            text-decoration: none;
            &.large {
                margin-bottom: 0;
                padding-bottom: 0;
            }
        }
    }
    .explanation {
        padding-right: 20px;
        .title {
            font-size: 15px;
            color: @text-gray;
            font-weight: 600;
        }
    }

}

//Brand expression
#section-4-1{
    h5{
        grid-column: span 5;
    }
    .row.master-brand {
        margin-top: 40px;
    }
    .half{
        grid-column: span 3;
    }
    .thirds{
        padding-right: 20px;
        p:not(.title) {
            padding-top: 25px;
        }
    }
    hr {
        border-bottom: none;
        border-top: 1px solid #c9c9c9;
        margin: 50px 0 30px 0;
    }
}


#section-4-2{
    .thirds{
        h5 {
            padding-bottom: 0px;
        }
        p {
            padding-bottom: 13px;
        }
    }
    .donts{
        grid-column: span 3;
        p{
            padding-bottom: 10px;
        }
    }
    .dos, .donts {
        .title, p{
            font-size: 18px;
            padding-bottom: 8px;
        }
    }
    .donts {
        font-weight: 400;
    }
    hr {
        border-bottom: none;
        margin: 40px 0;
        border-top: 1px solid #bfbfbf;
    }
    .this-is-our-name {
        margin:0;
        padding: 0;
        position:relative;
        top: 35px;

    }
    h2 {
        padding-bottom: 45px;
    }
    .super.tall {
        font-family: "SegoeUIBold";
    }

}

#section-4-3{
    .half{
        grid-column: span 3;
        grid-template-columns: 1fr;
        p {
            grid-column-start: 1;
            padding-bottom: 10px;
        }
    }
    .donts {
        width: 200px;
        padding-bottom: 15px;

    }
    .primary-logo {
        padding: 40px 0 80px 0;
    }
    .row.padding {
        padding-bottom: 40px;
    }
    hr {
        border-top: 1px solid #e0e0e0;
    }
    .first hr {
        margin-top: 110px;
    }
    .second hr {
        margin-bottom: 40px;
    }


}

#section-4-5{
    .row-five{
        grid-template-columns: repeat(4, 1fr);
    }
    .fat-thirds{
        grid-column: span 1;
        img{
            width: 250px;
        }
    }
            

}


#section-4-6{
    .row-five{
        grid-template-columns: repeat(4, 1fr);
        align-items: baseline;
        .thirds{
            img{
                grid-column: span 2;
                margin-bottom: 10px;
            }
            
            p{
                grid-column: span 1;
                margin-right: 50px;
                
            }
        }
    }
    .one-half{
        grid-column: span 3;
    }
}

#section-4-7{
    img{
        grid-column: span 2;
        margin-bottom: 20px;
    }
}
#section-4-8{
    img {
        align-self: self-end;
    }
    .row-seven{
        grid-column-gap: 40px;
        display: grid;
        grid-template-columns: repeat(10, 1fr);
        @media all AND (max-width: 1600px){
            grid-template-columns: repeat(7, 1fr);
        }
    }
    .half{
        display: flex;
        flex-direction: column;
        p, img{  
            margin-top: 20px;
        }
        .title{
            padding-right: 0;
            min-height: 60px;
        }
    }
}


#section-4-9{
    .half, img{
        grid-column: span 4;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 10px;
        p{
            padding-right: 0;
            margin-top: 10px;
        }
        .half{
            grid-column: span 1;
            grid-template-columns: 1fr;
            justify-items: stretch;
            .swatch{
                grid-column: span 8;
            }
        }
    }
    .thirds.centered {
        img {
            margin: 0 auto;
        }
    }
}

#section-5-2{
    .row .thirds{
        grid-template-rows: min-content min-content;
    }
}


#section-5-3{
    h5 {
        margin-bottom: 0;
    }
    .half{
        grid-column: span 4;
        grid-template-columns: repeat(4,1fr);
        grid-column-gap: 10px;
        align-content: baseline;
        display: grid;
        p{
           margin: 10px 0;
           padding-right: 10px;
       } 
       .double{
           grid-column: span 2;
           min-height: 165px;
       }
       .single{
           grid-column: span 1;
       }
    }
    .upper{
        font-size: 11px;
        line-height: 14px;

    }
    .subs{
        grid-column: span 3;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 20px;
        display: grid;
    }
    p{
        margin-bottom: 10px;
    }
}

.row.colors{
    grid-column-gap: 40px;
    margin-top: 40px;
}
#section-5-1{
    .thirds{
        grid-template-rows: max-content max-content;
        align-items: baseline;
        margin-bottom: 20px;
        .title{
            margin-bottom: 15px;
        }
    }
}
#section-5-4{
    font-size: 15px;
    line-height: 22px;
    .thirds {
        grid-template-rows: 35px 1fr;
        .title {
            align-self: flex-start;
        }
        p {
            align-self: flex-start;
        }
    }
    .table-row.gray {
        padding: 14px 2px;
    }
    .underline {
        border-bottom: 1px solid #dadada;
        padding-bottom: 20px;
        padding-top: 2px;
    }
    .table-row:not(first) {
        padding: 7px 0 27px 0;
    }
    .first {
        padding-right: 20px;
    }
    .second,
    .third,
    .fourth {
        display: block;
    }
    .type-chart {
        padding-top: 60px;
        h4 {
            font-size: 52px;
            font-family: "SegoeUISemiLight";
        }
        .single:not(:first-of-type) {
            position: relative;
            top: 6px;
            span {
                font-family: "SegoeUISemiBold";
            }
        }
    }
}

#section-5-5{
    .row.v-center .thirds{
        grid-template-rows: 100px min-content;
        align-self: baseline;
        img{
            grid-column: span 2;
        }
    }
    .thirds .title{
        font-size: 2em;
    }
}
#section-5-6{
    .row-twelve{
        grid-template-columns: repeat(11, 1fr);
        .fourths{
            display: grid;
            grid-template-rows: min-content max-content 1fr;
            grid-row-gap: 0px;
            img, .title {
                margin-bottom: 15px;
            }
        }
    }
}

#section-5-7{
    grid-row-gap: 40px;
    .row-seven{
        grid-column-gap: 60px;
        grid-template-columns: repeat(9, 1fr);
        
    }
    
    .half{
        grid-column-gap: 10px;
        grid-template-rows: repeat(3, min-content)
    }
    .double{
        grid-column: span 2;
    }
    .single{
       
        p{
            padding-right: 10px;
        }
    }
    .title {
        margin-bottom: 15px;
    }
    img {
        margin-bottom: 10px;
    }
}
#section-5-8 {
    .title {
        padding-bottom: 15px;
    }
}

#section-5-8{
    p{
        grid-column: span 5;
    }
}
#section-5-9{
    .half{
        grid-column: span 4;
        grid-template-rows: 35px 1fr;
    }
    p{
        line-height: 30px;
    }
    .dos, .donts {
        font-size: 20px;
        line-height: 28px;
        margin-bottom: 0;
        font-weight: 600;
    }
    //.fourths {
    //    grid-column: span 3;
    //}
}

#section-5-11{
    .title{
        margin-bottom: 20px;
        padding-right: 0;
    }
    p{
        margin-top: 10px;
    }
}

#section-5-12{
    .row-seven{
        grid-column-gap: 40px;
    }
    .half{
        grid-template-columns: 1fr;
        margin-bottom: 35px;
        
        p{
            margin-top: 10px;
        }
        img{
                grid-column: span 2;
            }
        }

    .dos {
        grid-template-rows: min-content min-content;
        p{
            padding-right: 100px;
        }
    }
}

#section-5-13{
    .dos{
        grid-template-rows: min-content min-content;
    }
}

#section-5-13 {
    .donts {
        p {
            padding-bottom: 10px;
        }
    }
}
//Building out a communication section 6
#section-6-1{
    .half{
        margin-bottom: 25px;
        .title{
            margin-bottom: 10px;
        }
        img{
            grid-column: span 2;
            min-height: 250px;

        }
    }
}

#section-6-2{
    img{
        grid-column: span 7;
    }
}

#section-6-3{

    .half{
        grid-template-rows: 35px 1fr;
        title, img{
            grid-column: span 2;
        }
    }
    .row-seven {
        margin-bottom: 30px;
    }
    .row-twelve .thirds{
        grid-column: span 3;
    }
}
.overlay{
    display: grid;
    grid-column: span 8;
    grid-template-columns: 1fr;
    position: relative;
    .left, .right{
        background: rgba(0, 0, 0, .7);
        padding: 30px 20px;
        position: absolute;
        bottom: 4px;
        right: 0;
        left: 0;
        grid-row-gap: 20px;
        p {
            color: #ffffff;
            font-size: 15px;
            line-height: 20px;
           
        }
    }
    .left, .right{

        grid-column-end: 9;
        grid-row-start: 1;
        z-index: 10;
        text-align: left;
    }    
    .img-wrapper{
        grid-column-start: 1;
        grid-column-end: 10;
        grid-row-start: 1;
    }
    img{
        width: 100%;
    }
}


.dos{
    .title, &.title{
        color: @text-green;
    }
    p {
        padding-right: 50px;
    }
}
.donts {
    
    p{
    text-decoration: line-through;
    }
    .title, &.title{
        color: @text-red;
        text-decoration: none;
    }
}

.three_cs{
    grid-column-start: 1;
    justify-self: right;
    text-align: left;
    p{
        font-weight: 600;
        font-size: 15px;
        line-height: 18px;
        color: black;
    }
    &_content{
        grid-column: span 5;
    }
}

.swatch{
    padding: 20px 10px 5px;
    display: grid;
    font-size: 18px;
    color: black;
}

//spacing
.tall{
    padding-top: 20px;
    font-family: 'SegoeUISemiLight';
}

.bow-wrap{
    grid-column: span 2;
    h5{
        margin-right: 0;
    }
}

.long-bow{
    display: inline-block;
    width: calc(~"100% - 2.75em");
    height: 20px;
    background-repeat: no-repeat;
    background-position: 0 80%;
    background-size: contain;
    background-image: url('../assets/arrow-2.svg');
}
//fixes for random issues

.drawer-content{
    display: none;
    
}

.drawer-close{
    display: block;
    padding-top: 25px;
    padding-bottom: 10px;
    font-size: 13px;
    text-decoration: none;
    text-transform: uppercase;
    &:after{
        padding-left: 10px;
        content: "\E70E";
        font-family: MWF-MDL2;
    }
}

.head-info{
    
    min-height: 170px;
    grid-column: span 2;
    grid-template-rows: 60px 100px;
    grid-template-columns: 1fr;
    display: grid;
    .title{
        padding-bottom: 20px;
    }
    img{
        align-self: center;
    }
    grid-row-gap: 10px;
}

.headers{
    .thirds{
        grid-template-rows: repeat(10, min-content);
    }
}

.header{
    .thirds{
        grid-template-rows: 40px 120px 200px;
    }
    
    img{
        grid-column: span 3;
        align-self: center;
    }
}


#menu-list{
    display: block;
}

.row.visible-xs{
    display: none;
}