body {
    background-color: @lt-gray;
    display: grid;
    justify-content: center;
    align-items: center;
  }
  nav{
      background: @nav-lt;
      color: #ffffff;
      &.active{
          background: @nav-dk;
      }
  }

#section-1{
    background: @lt-gray;
    &-a{
    background: @mid-gray;
    }
    &-b{
        background: @lt-gray;
    }
}