// resets
h1,h2,h3,h4,h5,h6,p,div{
    margin: 0;
    padding:0;
}

h1{
   
    grid-column: span 6;
    margin-bottom: 40px;
}

nav{
   background: @nav-dk;
   height: 100%;
   li:active{
       background: @nav-lt;
   }
}
main > section{
    padding-top: 95px;
    padding-bottom: 95px;
    display: grid;  
}
#section-1{
    background: @lt-gray;
    &-a{
    background: @mid-gray;
    }
    &-b{
        background: @lt-gray;
    }
}
#section-1{

}
#section-2{
    &-a{
        background: @mid-gray;

    }
    &-b{

    }
    &-c{

    }
    &-d{

    }
}

.badge{
    justify-self: self-start;
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
    height: 18px;
    outline-color: transparent;
    color: #000000;
    padding: 0 7px 1px 7px;
    text-transform: uppercase;
    letter-spacing: .075em;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    &.blue{
        background: @blue;
    }
    &.purple{
        background: @purple;
    }
    &.yellow{
        background: @yellow;
    }
}