@media all and (max-width: 1400px) {
//typography
  h1{

  }
  h2{

  }
  h3{
  //  font-size: ;

  }
  h4{
    font-size: 2.25em;
    line-height: 1.1em;
    grid-column: span 7;
  }
  h5{

  }
  h6{

  }

//grid
  section{
    padding-top: 70px;
  }
  .row{

  }

//content

  .overlay{
    grid-column: span 9;
    .left, .right{
      margin-top: 10px;
      margin-bottom: 20px;
      padding: 15px 10px;
      p{
        font-size: .5em;
        margin-bottom: 10px;
      }
    }
    .left{
      grid-column-start: 1;
      margin-left: 10px;
    }
    .right{
      grid-column-end: 7;
    }
  }


}