/* 
*
*  Desktop 1084px-1400px
*
*
*/

@media all and (max-width: 1400px) {
//typography
  #section-1 h1{
    font-size: 4.5em;
  }

  h2{

  }
  h3{
  //  font-size: ;

  }
  h4{
    font-size: 2.5em;
    line-height: 1.1em;
    grid-column: span 9;
    margin-right: 20px;
  }
  h5{
    grid-column: span 9;
    margin-right: 20px;
    font-size: 1.25em;
  }
  h6{
    grid-column: span 9;
    margin-right: 20px;
    font-size: 1.8em;
  }

//grid
  section{
    padding-top: 70px;
  }
  .row{
    grid-column: span 9;
    grid-template-columns: repeat(6, 1fr);
  }
  
  .row-five{
    grid-template-columns: repeat(3, 1fr);
  }
  .row-seven{
    grid-column: span 9;
    grid-template-columns: repeat(4, 1fr);
  }
  .row-twelve{
    grid-template-columns: repeat(9,1fr);
  }

//content

  .overlay{
    grid-column: span 9;
    .left, .right{
      margin-top: 10px;
      margin-bottom: 20px;
      padding: 15px 10px;
      p{
        font-size: .5em;
        margin-bottom: 10px;
      }
    }
    .left{
      grid-column-start: 1;
      margin-left: 10px;
    }
    .right{
      grid-column-end: 8;
      margin-right: 10px;                           
    }
  }

  #mainArea{
    padding-top: 0;
    main section{
      grid-template-columns: 65px repeat(7, 1fr) 65px;
      padding-top: 65px;
      padding-bottom: 65px;

    }
  }

  #section-1{
    h1, h6, p{
      grid-column: span 9;
      margin-right: 20px;
    }
    &-1{
      p{
        padding-right: 50px;
      }
    }
    &-2{
      h5{
        grid-column: span 9;
      }
      .row-twelve .half{
        grid-column: span 8;
      }
      div>p{
        grid-column: span 7;
      }
    }
  }
  #section-2{
    &-4{
      p{
        grid-column: span 7;
      }
    }
  }

  .cross-through{
    font-size: 28px;
  }
  .cta{
    grid-column: span 5;
  }

}