html{
    box-sizing: border-box;
}

*, *:before, *:after{
    box-sizing: inherit;
}
body {
    background-color: @dk-gray;
    display: grid;
    grid-template-columns: 260px 1fr;
    margin: 0;
}
header{
    display: grid;
    grid-column-start: 1;
    grid-column-end: 2;
    
}

#mainArea{
    grid-column-start: 2;
    grid-column-end: 3;
    display: grid;
    grid-template-rows: minmax(50px, 1fr);
    &:focus {
        outline: none;
        border: none;
    }

    main{
    display: grid;

        section{
            grid-template-columns: 95px repeat(7, 1fr) 75px;
            grid-auto-flow: row;
            grid-auto-rows: auto;
            display: grid;
            &.small{
                padding-bottom: 0
            }
            div.wrapper{
                grid-auto-flow: row;
                grid-column-start: 2;
                grid-column-end: 10;
                display: grid;
                grid-gap: 20px;
                grid-template-columns:  repeat(9, 1fr);

                
            }

            h3{
                grid-column: span 9;
                padding-bottom: 10px;
            }

        }
    }
}
  

hr{
    border-top: 1px solid @hr-gray;
    border-bottom: transparent;
    border-left: transparent;
    margin-top: 20px;
    margin-bottom: 20px;
    grid-column-start: 1;
    grid-column-end: 7;
    width: 100%; 
}
.one-half{
    grid-column: span 4;
    display: grid;
}

.half{
    grid-column: span 4;
    display: grid;
    grid-template-columns: 1fr 1fr;
    .numeral{
        display: inline-block;
    }
    
    p{
        padding-right: 100px;
    }

}

.thirds{
    grid-column: span 2;
    display: grid;
    // grid-template-columns: repeat(3, 1fr);
    .title, .desc{
        grid-column: span 3;
    }
    p, .content {
        grid-column: span 2;
    
        .title{
            padding-top: 10px;
            padding-bottom: 10px;
        }
    }
}





.table-row{
    display: grid;
    grid-column: span 6;
    grid-template-columns:1fr 1.5fr 1.75fr 1.75fr;
    grid-gap: 20px;
    &.gray{
        background: @ltr-gray;
        padding: 10px 2px;
    }
    & > div{
        display: grid;
    }
}




.row.word-art{
    grid-template-columns: 150px repeat(8, 1fr); 
     .middle, .right{
        grid-column: span 2;
        color: @nav-lt;
        font-size: 24px;
    }
    .left{
        grid-column: span 1;
        text-align: right;
        color: @nav-lt;
        font-size: 24px;
    }
    .right{
        text-align: left;
    }
    .middle{
        font-weight: 600;
        font-family: 'SegoeUISemiBold';
        text-align: center;
    }
}



//base grid styles

h4{
    grid-column: span 6;
    margin-bottom: 30px;
    line-height: 1em;
}

.row{
    grid-column: span 10;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-column-gap: 20px;
    &-lined{
        grid-column: span 10;
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        grid-column-gap: 20px;
        &:before {
            content: "";
            width: 60%;
            border: none;
            background: @ltmid-gray;
            height: 1px;
            align-self: flex-end;
            display: block;
            position: absolute;
        }
        &.dark:before{
            background: @dk-gray;
        }
    }
    &-full{
        grid-column: span 10;
        display: grid;
        grid-template-columns: 1fr;
    }
}
.full-row{
    display: grid;
    grid-template-columns:repeat(10,1fr);
    grid-column: span 6;
    align-items: center;
}
p{
    grid-column: span 6;
}
h5{
    grid-column: span 6;
}
h6, h2, picture{
    grid-column: span 9;
}

.full{
    grid-column: span 8;
    text-decoration: none;
    &:hover{
        text-decoration: underline;
    }
}
.fat-thirds{
    grid-column: span 2;
    grid-template-columns: 1fr;
    img{
        width: auto;
    }
    p{
        padding-top: 10px;
        padding-bottom: 10px;
    }
}
.single{
    grid-column: span 1;
    p{
        margin-top: 10px;
    }
}

.v-center{
    align-items: center;
}
.underline{
    border-bottom: 1px solid @lt-gray;
    padding-bottom: 20px;
}
.row-twelve{
    display: grid;
    grid-column: span 10;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 10px;
    .fourths{
        grid-column: span 2;
        grid-template-columns: 1fr;
        p{
            padding-right: 20px;
        }   
    }
    .half{
        grid-column: span 6;
        grid-template-columns: 1fr 1fr;
        h6{
            grid-column: span 1;
        }
    }

}

.row-five{
    grid-column: span 10;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 20px 40px;
    display: grid;
    .thirds{
        grid-column: span 1;
    }
}

.row-seven{
    grid-column: span 10;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 10px;
    display: grid;
    .half{
        grid-column: span 3;
        grid-template-columns: 1fr 1fr;
    }
}
.row-top-five{ 
    @media all and (max-width: 1200px){

        .half{
            grid-column: span 6 !important;
        }
    }
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column: span 10;
    grid-row-gap: 20px;
   
    .half{
        grid-column: span 5;
        grid-template-columns: 30px 1fr;
    }
}

.row-floating{
    display: block;
    float: left;
    grid-column: span 9;
    max-width: 900px;
    .thirds{
        width: 33.33%;
        float: left;
        display: block;
    }
}
.row-fluid{
    grid-column: span 9;
    display: block;
    .middle{
        margin-left: 25%;
    }
}