html{
    box-sizing: border-box;
}

*, *:before, *:after{
    box-sizing: inherit;
}
body {
    background-color: @dk-gray;
    display: grid;
    grid-template-columns: 250px 1fr;
    margin: 0;
}
header{
    display: grid;
    grid-column-start: 1;
    grid-column-end: 2;
    nav{
        position: fixed;
        top:0;
        justify-self: stretch;
        padding: 20px;
        display: grid;
    
    }
}

#mainArea{
    grid-column-start: 2;
    grid-column-end: 3;
    display: grid;
    grid-template-rows: minmax(50px, 1fr);

    main{
    display: grid;

        section{
            grid-template-columns: 95px repeat(7, 1fr) 75px;
            grid-auto-flow: row;
            grid-auto-rows: auto;
            display: grid;
            &.small{
                padding-bottom: 0;
            }
            div.wrapper{
                grid-auto-flow: row;
                grid-column-start: 2;
                grid-column-end: 10;
                display: grid;
                grid-gap: 20px;
                grid-template-columns: repeat(9, 1fr);
                grid-template-rows: repeat( autofill, max-content );
                
               

                .half{
                    grid-column: span 4;
                    display: grid;
                    grid-template-columns: 40px 1fr;
                    .numeral{
                        display: inline-block;
                    }
                    h6,p{
                        grid-column-start: 2;
                        grid-column-end: 10;
                    }
                    p{
                        padding-right: 100px;
                    }

                }

            }
            &#section-1{
                h1, h6{
                    grid-column: span 5;
                }
            }
            h3{
                grid-column: span 9;
            }
            &#section-4-1{
                h5{
                    grid-column: span 5;
                }
                .half{
                    grid-column: span 3;
                }
                .title{
                    padding-bottom: 30px;
                }
    
            }
        }
    }
}
  

hr{
    border-top: 1px solid @hr-gray;
    margin-top: 80px;
    margin-bottom: 60px;
    grid-column-start: 1;
    grid-column-end: 7;
    width: 100%; 
}
.thirds{
    grid-column: span 2;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    .title, .desc{
        grid-column: span 3;
    }
    p, .content {
        grid-column: span 2;
    
        .title{
            padding-top: 10px;
            padding-bottom: 10px;
        }
    }
}

//Audience
.direction{
    grid-column: span 10;
    .users{
        grid-column: span 3;
        grid-column-start: 1;
        padding-bottom: 10px;
    }
    .needs {
        grid-column: span 3;
        padding-bottom: 10px;
    }
}

//Empowering
.tt-row {
    grid-column: span 10;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(8, 1fr);
    &:before {
        content: "";
        width: 550%;
        border: none;
        background: @ltmid-gray;
        height: 1px;
        margin: 10px;
        align-self: flex-end;
    }
}

//channels
.table-three{
    .titles{
        color: @body-text-black;
        font-weight: 600;
    }
    .channel{
        grid-column: span 1;
        font-weight: 600;
    }
    .role{
        grid-column: span 2;
        margin-bottom: 20px;
    }
    .message{
        grid-column: span 2;
    }
}

//editorial sections
.mag{
    grid-column-start: 2;
    grid-column-end: 7;
    h2{
        
        color: @body-text-black;
    }
    .thirds {
        .desc, .title {
            grid-column: span 1;
            margin-top: 10px;
        }
        .title {
            font-size: 22px;
            color: @text-gray;
        }
        .desc{
            font-size: 18px;
            font-family: 'SegoeUISemiLight';
        }

    }
}

#section-3-3{
    .thirds{
        .title{
            font-size: 28px;
            font-family: 'SegoeUISemiBold';
            letter-spacing: .025em;
            padding-bottom: 10px;
        }
        .desc{
            font-size: 15px;
            line-height: 20px;
            padding-right: 100px;
            margin-bottom: 50px;
        }
    }
    .dos, .donts{
        grid-column: span 3;
        .title{
            font-family: 'SegoeUISemiBold';
            text-decoration: none;
        }
    }

}

#section-3-4{
    .dos, .donts, .explanation{
        grid-column: span 2;
        .title{
            font-family: 'SegoeUISemiBold';
            text-decoration: none;
            
        }
    }
    .explanation .title{
        font-size: 15px;
        color: @text-gray;
        font-weight: 600;
        letter-spacing: .025em;
    }
    .dos, .donts{
        .title{
            font-size: 22px;
        }
    }

}
.dos{
    .title{
        color: @text-green;
    }
    p {
        padding-right: 50px;
    }
}
.donts {
    
    p{
    text-decoration: line-through;
    }
    .title{
        color: @text-red;
    }
}
#section-4-2{
    .thirds h5{
        padding-bottom: 10px;
    }
    .donts{
        grid-column: span 3;
        p{
            padding-bottom: 10px;
        }
    }
}

//base grid styles

h4{
    grid-column: span 5;
}

.row{
    grid-column: span 10;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-column-gap: 20px;
}
p{
    grid-column: span 7;
}
h5{
    grid-column: span 5;
}
h6, h2, picture{
    grid-column: span 9;
}