/*
*
*
*  Laptops from 768 to 1084px
*
*/

@media all and (max-width: 1084px){
  //typography
  h3{
   font-size: 3.5em; 
   line-height: 1em;
  }

  h4{
    font-size: 2.25em;
    grid-column: span 9;
    line-height: 1em;
  }
  h5{
    font-size: 1.125em;
    line-height: 1em;
  }

  //grid
  .row-twelve{
    grid-template-columns: repeat(8, 1fr);
    grid-row-gap: 10px;
    .fourths{
      grid-column: span 4;
    }
  }

  .tt-row{
    grid-template-columns: repeat(5, 1fr);
  }

  .row-top-five{
    grid-template-columns: 1fr;
  }

  .row-full{
    grid-column: span 9;
    margin-right: 10px;
  }
 
  #section-3{
    &-3, &-4{
      .row-lined, .row-lined.dark{
        &:before{
          width: 65%;
        }
      }
    }
  }
  

  #mainArea main section{
    grid-template-columns: 40px repeat(7, 1fr) 40px;
  }
  //content specific

  #section-2-3 .row-twelve .fourths{
    grid-column: span 6;
  }

  .long-bow{
    height: 16px;
  }
  #section-2-6, #section-3-1, #section-3-2, #section-3-3 {
    .thirds{
      grid-column: span 7;
    }
  }
  #section-3-1 .thirds{
    margin-bottom: 30px;
  }

  #section-3-3 .donts{
    grid-column: span 3;
  }
  .mag h2{
    margin-bottom: 30px;
  }


  #section-4-1{
    .thirds, .half{
      grid-column: span 7;
      margin-bottom: 10px;
      .title{
        padding-bottom: 0;
      }
    }
  }

  .row.word-art{
    grid-template-columns: 100px repeat(4, 1fr);
  }

  .row.headers{
    grid-template-columns: 1fr;
  }
  
  #section-4-3{
    .half p{
      padding-right: 0;
    }
  }

  #section-4-4{
    .fat-thirds{
      grid-column: span 3;
    }
  }

  #section-4-5 { 
   .fat-thirds{
      img {
      width: auto;
     height: auto;}
   }  
  }

  #section-4-6{
    .row-five{
      grid-template-columns: repeat(3, 1fr);
      &.empty-cell{
       grid-template-columns: repeat(2, 1fr);
        .thirds{
          grid-template-rows: 50px minmax(min-content, 100px);
        }
      }
    }
  }

  #section-4-8 .row-seven .half {
    .title{
      min-height: 60px;
    }
    p{
      padding-right: 0;
    }
  }


  #section-5-2{
    .thirds{
      display: grid;
      grid-template-rows: 100px 1fr;
    }
  }
  #section-5-3{
    .row{
      grid-row-gap: 30px;
    }
    
    .half, .subs{
      grid-column: span 6;
    }
  
    .double.hidden-xs{
      display: none;
    }
  }

  #section-5-4 .thirds{
      grid-template-rows: 70px 1fr;
  }

  #section-5-5 {
    .thirds .title{
      font-size: 1.5em;
    }
    .row.v-center .thirds {
      grid-template-rows: 65px 1fr;
    }
  }
  
  #section-5-6 .row-twelve .fourths{
    grid-template-rows: minmax(20px, max-content);
  }

  #section-5-7{
    .row-twelve     {
      grid-row-gap: 20px;
      .fourths{
        display: grid;
        grid-template-rows: minmax(50px, min-content) min-content min-content;
        grid-row-gap: 10px;
      }
    }
  }

  #section-5-8{
    .title{
      margin-right: 0;
    }
    
  }

  #section-5-9, #section-5-12, #section-5-13{
    .half p{
      padding-right: 20px;
    }
  }

  #section-5-11{
    .fourths{
      .title{
        padding-bottom: 20px;
      }
      p{
        max-width: 250px;
      }
    }
  }


  #section-6-1{
    .half{
      grid-column: span 5;
      .title{
        padding-right: 0;
        grid-column: span 2;
        padding-bottom: 10px;
      }
    }
    .row-twelve{
      .thirds{
        grid-column: span 8;
      }
    }
  }

  #section-6-3{
    grid-row-gap: 10px;
    .row-twelve{
      margin-bottom: -10px;
      grid-template-columns: repeat(9, 1fr);
    }
  }
  .overlay{
    .img-wrapper{
      grid-column-end: 11;
    }
    margin-right: 10px;
    grid-template-rows: repeat(2, min-content);
    .left, .right{
      // margin: -5px 0 20px;
      left: 0;
      width: 100%;
      padding: 15px 10px;
      background: #000;
      grid-row-start: 2;
      grid-column-start: 1;
      grid-column-end: 11;
      p{
        font-size: 1em;
        margin-bottom: 10px;
      }
    }
  }

  .cta{
    grid-column: span 9;
  }

  .drawer-content{
    width: calc(~"94% - 300px");
  }

  //responsive adjustments
  .header{
    .thirds{
      grid-template-rows: repeat(3, min-content);
      grid-row-gap: 20px;
      .title{
        padding-bottom: 0;
      }
    }
  }


}