nav{
    background: @nav-dk;
    ul{
        list-style-type: none;
        &#menu-list{
            padding-left:0;
        }
        li a{
            color: white;
            text-decoration: none;
        }
    }
}