nav{
    background: @nav-dk;
    ul{
        list-style-type: none;
        &#menu-list{
            padding-left:0;
        }
        li a{
            color: white;
            text-decoration: none;
            &.purple:hover{
                color: @purple;
            }
            &.blue:hover{
                color: @blue;
            }
            &.yellow:hover, &.yellow:active{
                color: @yellow;
            }
            &.orange:hover, &.orange:active{
                color: @orange;
            }
        }
    }
}