nav{
    background: @nav-lt;
    overflow-y: scroll;
    height: 100%;
    position: fixed;
    top:0;
    justify-self: stretch;
    display: grid;
    
    a{
        text-decoration: none  !important;
        padding-right: 20px;

    }
    ul{
        list-style-type: none;
        margin-top: 0;
        &#menu-list{
            padding-left:0;
        }
        &.sub-nav{
            padding-left: 20px;
            display: none;
            height: 0;
            animation: 3s ease-in-out;
        }
        li {
            padding-left: 20px;
            &.active{
                background: @nav-dk;
                width: 100%;
                .sub-nav{
                    display: block;
                    height: auto;
                    animation: 3s ease-in-out;
                }

                .purple{
                    color: @purple;
                }
                .blue {
                    color: @blue;
                }
                .yellow {
                    color: @yellow;
                }
                .orange {
                    color: @orange;
                }
                .green {
                    color: @green;
                }
            }
            a{
                color: white;
                &.purple:hover{
                    color: @purple;
                }
                &.blue:hover{
                    color: @blue;
                }
                &.yellow:hover, &.yellow:active{
                    color: @yellow;
                }
                &.orange:hover, &.orange:active{
                    color: @orange;
                }
                &.green:hover, &.green:active{
                    color: @green;
                }
            }
        }
    }
    button{
        display: none;
    }
}