@purple: #b4a0ff;
@blue: #00bcf2;
@yellow: #bad80a;
@orange: #FF8C00;
@dk-gray: #cacaca;
@mid-gray: #cac9c9;//section 1-a
@lt-gray: #dadada;//section 1, 1-b
@lt-black: #2d2d2d;
@body-text-black: #212121;
@body-text-lt-black: #2c2c2c;
@text-gray: #373737;
@text-lt-gray: #313131;
@nav-lt: #252525;
@nav-dk: #1d1d1d;
@nav-white: #e8e8e8;
@badge-gray: #333333;
@text-green: #107c10;
@text-red: #a80000;
@img-overlay: rgba(0,0,0,.5);