h1,
h2,
h3,
h4,
h5,
h6,
p,
div {
  margin: 0;
  padding: 0;
}
h1 {
  grid-column: span 7;
  margin-bottom: 20px;
}
nav {
  background: #1d1d1d;
  height: 100%;
}
nav li:active {
  background: #252525;
}
main > section {
  padding-top: 95px;
  padding-bottom: 95px;
  display: grid;
}
#section-1 {
  background: #dadada;
}
#section-1-1 {
  background: #cacaca;
}
#section-1-2 {
  background: #dadada;
}
#section-1-2 h5 {
  grid-column: span 6;
}
#section-1-2 div > p {
  grid-column: span 4;
}
#section-2 {
  background: #cacaca;
}
#section-2-1 {
  background: #cacaca;
}
#section-2-1 h3 {
  margin-bottom: 30px;
}
#section-2-2 {
  background: #bcbcbc;
}
#section-2-3 {
  background: #dedede;
}
#section-2-4 {
  background: #d3d3d3;
}
#section-2-5 {
  background: #c3c3c3;
}
#section-2-6 {
  background: #e2e2e2;
}
#section-2-7 {
  background: #f3f3f3;
}
#section-2-8 {
  background: #ececec;
}
#section-3 {
  background: #cacaca;
}
#section-3-1 {
  background: #cacaca;
}
#section-3-2 {
  background: #c1c1c1;
}
#section-3-3 {
  background: #dedede;
}
#section-3-4 {
  background: #ececec;
}
#section-4 {
  background: #e6e6e6;
}
#section-4-1 {
  background: #e6e6e6;
}
#section-4-2 {
  background: #d6d6d6;
}
#section-4-3 {
  background: #f1f1f1;
}
#section-4-4 {
  background: #cacaca;
}
#section-4-5 {
  background: #c1c1c1;
}
#section-4-6 {
  background: #dedede;
}
#section-4-7 {
  background: #ececec;
}
#section-4-8 {
  background: #f6f6f6;
}
#section-4-9 {
  background: #c8c8c8;
}
#section-5 {
  background: #cacaca;
}
#section-5-1 {
  background: #cacaca;
}
#section-5-2 {
  background: #c1c1c1;
}
#section-5-3 {
  background: #f5f5f5;
}
#section-5-4 {
  background: #eaeaea;
}
#section-5-5 {
  background: #c1c1c1;
}
#section-5-6 {
  background: #b8b8b8;
}
#section-5-7 {
  background: #e6e6e6;
}
#section-5-8 {
  background: #c1c1c1;
}
#section-5-9 {
  background: #e6e6e6;
}
#section-5-10 {
  background: #c1c1c1;
}
#section-5-11 {
  background: #b8b8b8;
}
#section-5-12 {
  background: #f1f1f1;
}
#section-5-13 {
  background: #e6e6e6;
}
.badge {
  justify-self: self-start;
  grid-column:  1 / -1 ;
  font-size: 13px;
  line-height: 18px;
  height: 18px;
  font-weight: 400;
  outline-color: transparent;
  color: #000000;
  padding: 0 7px 1px 7px;
  text-transform: uppercase;
  letter-spacing: .075em;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.badge.blue {
  background: #00bcf2;
}
.badge.purple {
  background: #b4a0ff;
}
.badge.yellow {
  background: #bad80a;
}
.badge.orange {
  background: #FF8C00;
}
.badge.green {
  background: #00b294;
}
.overlay {
  display: grid;
  grid-column: span 8;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 20px;
}
.overlay .left,
.overlay .right {
  background: rgba(0, 0, 0, 0.4);
  padding: 30px 20px;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  grid-row-gap: 20px;
}
.overlay .left p,
.overlay .right p {
  color: #ffffff;
  font-size: 15px;
  line-height: 20px;
}
.overlay .left {
  width: 250px;
  grid-column-end: 3;
  grid-column-start: auto;
  grid-row-start: 1;
  z-index: 10;
  margin-top: 15px;
  margin-bottom: 50px;
}
.overlay .right {
  width: 250px;
  grid-column-end: 6;
  grid-column-start: auto;
  grid-row-start: 1;
  z-index: 10;
  margin-top: 15px;
  margin-bottom: 50px;
}
.overlay .img-wrapper {
  grid-column-start: 1;
  grid-column-end: 8;
  grid-row-start: 1;
}
.three_cs {
  grid-column: span 2;
  justify-self: right;
  text-align: right;
}
.three_cs p {
  font-weight: 600;
  font-size: 28px;
  line-height: 28px;
  color: black;
}
.three_cs_content {
  grid-column: span 5;
}
.swatch {
  padding: 20px 10px 5px;
  display: grid;
  font-size: 18px;
  color: black;
}
.tall {
  padding-top: 20px;
  font-family: 'SegoeUISemiLight';
}
nav {
  background: #1d1d1d;
  overflow-y: scroll;
}
nav ul {
  list-style-type: none;
}
nav ul#menu-list {
  padding-left: 0;
}
nav ul li a {
  color: white;
  text-decoration: none;
}
nav ul li a.purple:hover {
  color: #b4a0ff;
}
nav ul li a.blue:hover {
  color: #00bcf2;
}
nav ul li a.yellow:hover,
nav ul li a.yellow:active {
  color: #bad80a;
}
nav ul li a.orange:hover,
nav ul li a.orange:active {
  color: #FF8C00;
}
@font-face {
  font-family: "MWF-MDL2";
  src: url("https://assets.onestore.ms/cdnfiles/external/mwf/long/v1/v1.30.0/fonts/MWFMDL2.woff") format("woff"), url("https://assets.onestore.ms/cdnfiles/external/mwf/long/v1/v1.30.0/fonts/MWFMDL2.ttf") format("truetype"), url("https://assets.onestore.ms/cdnfiles/external/mwf/long/v1/v1.30.0/fonts/MWFMDL2.svg") format("svg");
}
@font-face {
  font-family: 'SegoeUI';
  src: url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/normal/latest.eot);
  src: local("Segoe UI"), local("Segoe"), local("Segoe WP"), url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/normal/latest.eot#iefix) format("embedded-opentype"), url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/normal/latest.woff2) format("woff2"), url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/normal/latest.woff) format("woff"), url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/normal/latest.ttf) format("truetype"), url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/normal/latest.svg#web) format("svg");
  font-weight: 400;
}
@font-face {
  font-family: 'SegoeUILight';
  src: local('Segoe UI'), url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/Light/latest.eot#iefix) format("embedded-opentype"), url('//c.s-microsoft.com/static/fonts/segoe-ui/west-european/Light/latest.woff2') format("woff2"), url('//c.s-microsoft.com/static/fonts/segoe-ui/west-european/Light/latest.woff') format("woff"), url('//c.s-microsoft.com/static/fonts/segoe-ui/west-european/Light/latest.ttf') format("ttf"), url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/Light/latest.svg#web) format("svg");
  font-weight: 100;
}
@font-face {
  font-family: 'SegoeUISemiLight';
  src: local('Segoe UI'), url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/Semilight/latest.eot#iefix) format("embedded-opentype"), url('//c.s-microsoft.com/static/fonts/segoe-ui/west-european/Semilight/latest.woff2') format("woff2"), url('//c.s-microsoft.com/static/fonts/segoe-ui/west-european/Semilight/latest.woff') format("woff"), url('//c.s-microsoft.com/static/fonts/segoe-ui/west-european/Semilight/latest.ttf') format("ttf"), url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/Semilight/latest.svg#web) format("svg");
  font-weight: 200;
}
@font-face {
  font-family: 'SegoeUISemiBold';
  src: url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semibold/latest.eot);
  src: local("Segoe UI Semibold"), local("Segoe WP Semibold"), url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semibold/latest.eot#iefix) format("embedded-opentype"), url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semibold/latest.woff2) format("woff2"), url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semibold/latest.woff) format("woff"), url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semibold/latest.ttf) format("truetype"), url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semibold/latest.svg#web) format("svg");
  font-weight: 600;
}
@font-face {
  font-family: 'SegoeUIBold';
  src: url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/bold/latest.eot);
  src: local("Segoe UI Bold"), local("Segoe WP Bold"), url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/bold/latest.eot#iefix) format("embedded-opentype"), url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/bold/latest.woff2) format("woff2"), url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/bold/latest.woff) format("woff"), url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/bold/latest.ttf) format("truetype"), url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/bold/latest.svg#web) format("svg");
  font-weight: 700;
}
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h1 {
  font-size: 80px;
  line-height: 80px;
  font-weight: 300;
  color: #333333;
}
h2 {
  font-size: 52px;
  line-height: 52px;
  color: #313131;
  font-weight: 500;
}
h2.super {
  font-weight: 900;
  color: #333333;
}
h2.super.tall {
  font-size: 80px;
  line-height: 80px;
}
h2.light {
  font-weight: 100;
}
h2.heavy {
  font-family: 'SegoeUISemiBold';
  font-weight: 600;
  color: #212121;
}
h3 {
  font-weight: 100;
  font-size: 80px;
  line-height: 80px;
  color: black;
}
h4 {
  font-size: 52px;
  line-height: 60px;
  color: #212121;
  font-family: 'SegoeUISemiBold';
  font-weight: 600;
}
h5 {
  font-weight: 100;
  font-size: 24px;
  line-height: 30px;
  color: #313131;
}
h5.heavy {
  font-family: 'SegoeUISemiLight';
}
h6 {
  font-weight: 400;
  font-size: 32px;
  line-height: 38px;
}
h6.small {
  font-size: 28px;
}
p {
  font-size: 15px;
  line-height: 20px;
  color: #212121;
  letter-spacing: .025em;
}
p.title {
  font-size: 22px;
  line-height: 28px;
  font-weight: 600;
  font-family: 'SegoeUISemiBold';
}
p.ms-store {
  font-size: 24px;
  line-height: 42px;
  font-weight: 600;
}
p.large {
  font-size: 18px;
  line-height: 24px;
}
p.upper {
  text-transform: uppercase;
}
.section_title {
  font-size: 28px;
  line-height: 28px;
  color: #212121;
  font-weight: 400;
}
.section_text {
  font-weight: 200;
  font-size: 28px;
  line-height: 28px;
  color: #212121;
}
.thirds .title {
  font-size: 20px;
  line-height: 30px;
  font-family: 'SegoeUISemiBold';
  font-weight: 600;
}
.thirds .title.large {
  font-size: 22px;
  line-height: 28px;
}
.thirds .desc {
  font-size: 22px;
  line-height: 28px;
  letter-spacing: .025em;
}
.thirds .drawer {
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
}
.thirds .drawer:after {
  content: "\E70D";
  font-family: "MWF-MDL2";
}
nav a {
  font-size: 16px;
  line-height: 42px;
}
.cross-through {
  font-size: 32px;
  font-weight: 100;
  background-image: url('assets/arrow.svg');
  background-size: contain;
  background-position: 0 0;
}
.semibold {
  font-family: 'SegoeUISemiBold';
  font-weight: 600;
}
.bold {
  font-family: 'SegoeUIBold';
  font-weight: 700;
}
.semilight {
  font-family: 'SegoeUISemiLight';
  font-weight: 200;
}
.light {
  font-family: 'SegoeUILight';
  font-weight: 100;
}
.f-big {
  font-size: 18px;
  line-height: 20px;
}
.f-bigger {
  font-size: 20px;
  line-height: 22px;
}
.f-biggerer {
  font-size: 22px;
  line-height: 24px;
}
.f-bigger-still {
  font-size: 28px;
  line-height: 30px;
}
.f-super {
  font-size: 36px;
  line-height: 38px;
}
.m-skip-to-main {
  display: none;
}
a {
  color: #076dcc;
}
.cta {
  background: #212121;
  grid-column: span 2;
  padding: 15px 10px;
}
.cta a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}
.cta a:after {
  content: "\E76C";
  padding-left: 20px;
  font-family: "MWF-MDL2";
}
.cta a:hover {
  text-decoration: underline;
}
.red {
  color: #a80000;
}
.white {
  color: white;
}
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}
body {
  background-color: #cacaca;
  display: grid;
  grid-template-columns: 250px 1fr;
  margin: 0;
}
header {
  display: grid;
  grid-column-start: 1;
  grid-column-end: 2;
}
header nav {
  position: fixed;
  top: 0;
  justify-self: stretch;
  padding: 20px;
  display: grid;
}
#mainArea {
  grid-column-start: 2;
  grid-column-end: 3;
  display: grid;
  grid-template-rows: minmax(50px, 1fr);
}
#mainArea main {
  display: grid;
}
#mainArea main section {
  grid-template-columns: 95px repeat(7, 1fr) 75px;
  grid-auto-flow: row;
  grid-auto-rows: auto;
  display: grid;
}
#mainArea main section.small {
  padding-bottom: 0;
}
#mainArea main section div.wrapper {
  grid-auto-flow: row;
  grid-column-start: 2;
  grid-column-end: 10;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(autofill, -webkit-max-content);
  grid-template-rows: repeat(autofill, max-content);
}
#mainArea main section#section-1 h1,
#mainArea main section#section-1 h6 {
  grid-column: span 5;
}
#mainArea main section#section-1-1 h6,
#mainArea main section#section-1-1 p {
  grid-column-start: 2;
  grid-column-end: 10;
}
#mainArea main section h3 {
  grid-column: span 9;
}
#mainArea main section#section-4-1 h5 {
  grid-column: span 5;
}
#mainArea main section#section-4-1 .half {
  grid-column: span 3;
}
#mainArea main section#section-4-1 .title {
  padding-bottom: 30px;
}
hr {
  border-top: 1px solid #bfbfbf;
  margin-top: 80px;
  margin-bottom: 60px;
  grid-column-start: 1;
  grid-column-end: 7;
  width: 100%;
}
.half {
  grid-column: span 4;
  display: grid;
  grid-template-columns: 40px 1fr;
}
.half .numeral {
  display: inline-block;
}
.half p {
  padding-right: 100px;
}
.thirds {
  grid-column: span 2;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.thirds .title,
.thirds .desc {
  grid-column: span 3;
}
.thirds p,
.thirds .content {
  grid-column: span 2;
}
.thirds p .title,
.thirds .content .title {
  padding-top: 10px;
  padding-bottom: 10px;
}
.direction {
  grid-column: span 10;
}
.direction .users {
  grid-column: span 3;
  grid-column-start: 1;
  padding-bottom: 10px;
}
.direction .needs {
  grid-column: span 3;
  padding-bottom: 10px;
}
.tt-row {
  grid-column: span 10;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(8, 1fr);
}
.tt-row:before {
  content: "";
  width: 550%;
  border: none;
  background: #e2e2e2;
  height: 1px;
  margin: 10px;
  -ms-flex-item-align: end;
  align-self: flex-end;
}
.table-three .titles {
  color: #212121;
  font-weight: 600;
}
.table-three .channel {
  grid-column: span 1;
  font-weight: 600;
  grid-column-start: 1;
}
.table-three .role {
  grid-column: span 2;
  margin-bottom: 20px;
}
.table-three .message {
  grid-column: span 2;
}
.mag {
  grid-column-start: 2;
  grid-column-end: 7;
}
.mag h2 {
  color: #212121;
}
.mag .thirds .desc,
.mag .thirds .title {
  grid-column: span 1;
  margin-top: 10px;
}
.mag .thirds .title {
  font-size: 22px;
  color: #373737;
}
.mag .thirds .desc {
  font-size: 18px;
  font-family: 'SegoeUISemiLight';
}
#section-3-3 .thirds .title {
  font-size: 28px;
  font-family: 'SegoeUISemiBold';
  letter-spacing: .025em;
  padding-bottom: 10px;
}
#section-3-3 .thirds .desc {
  font-size: 15px;
  line-height: 20px;
  padding-right: 100px;
  margin-bottom: 50px;
}
#section-3-3 .dos,
#section-3-3 .donts {
  grid-column: span 3;
}
#section-3-3 .dos .title,
#section-3-3 .donts .title {
  font-family: 'SegoeUISemiBold';
  text-decoration: none;
}
#section-3-4 .dos,
#section-3-4 .donts,
#section-3-4 .explanation {
  grid-column: span 2;
}
#section-3-4 .dos .title,
#section-3-4 .donts .title,
#section-3-4 .explanation .title {
  font-family: 'SegoeUISemiBold';
  text-decoration: none;
}
#section-3-4 .explanation .title {
  font-size: 15px;
  color: #373737;
  font-weight: 600;
  letter-spacing: .025em;
}
#section-4-2 .thirds h5,
#section-4-2 .thirds p {
  padding-bottom: 10px;
}
#section-4-2 .donts {
  grid-column: span 3;
}
#section-4-2 .donts p {
  padding-bottom: 10px;
}
#section-4-2 .dos .title,
#section-4-2 .donts .title,
#section-4-2 .dos p,
#section-4-2 .donts p {
  font-size: 15px;
}
#section-4-3 .half {
  grid-column: span 3;
}
#section-4-3 .half p {
  grid-column-start: 1;
  padding-bottom: 10px;
}
#section-4-8 .half,
#section-4-9 .half,
#section-4-8 img,
#section-4-9 img {
  grid-column: span 3;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 20px;
}
#section-4-8 .half p,
#section-4-9 .half p,
#section-4-8 img p,
#section-4-9 img p {
  padding-right: 0;
  margin-top: 10px;
}
#section-4-8 .half .half,
#section-4-9 .half .half,
#section-4-8 img .half,
#section-4-9 img .half {
  grid-column: span 1;
  grid-template-columns: 1fr;
  justify-items: stretch;
}
#section-4-8 .half .half .swatch,
#section-4-9 .half .half .swatch,
#section-4-8 img .half .swatch,
#section-4-9 img .half .swatch {
  grid-column: span 8;
}
#section-5-3 .half {
  grid-column: span 4;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 20px;
}
#section-5-3 .half p {
  margin: 10px 0;
}
#section-5-3 .subs {
  grid-column: span 3;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 20px;
  display: grid;
}
#section-5-3 p {
  margin-bottom: 10px;
}
#section-5-6 .title,
#section-5-6 img {
  margin-bottom: 20px;
}
.table-row {
  display: grid;
  grid-column: span 6;
  grid-template-columns: 1fr 1.5fr 1.75fr 1.75fr;
  grid-gap: 20px;
}
.table-row.gray {
  background: #dedede;
  padding: 10px 2px;
}
.table-row > div {
  display: grid;
}
.dos .title,
.dos.title {
  color: #107c10;
}
.dos p {
  padding-right: 50px;
}
.donts p {
  text-decoration: line-through;
}
.donts .title,
.donts.title {
  color: #a80000;
  text-decoration: none;
}
.left,
.middle,
.right {
  grid-column: span 2;
  color: #252525;
  font-size: 24px;
}
.left {
  text-align: right;
  margin-right: -4em;
}
.right {
  text-align: left;
  margin-left: -4em;
}
.middle {
  font-weight: 600;
  font-family: 'SegoeUISemiBold';
  text-align: center;
}
h4 {
  grid-column: span 5;
}
.row {
  grid-column: span 10;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-column-gap: 20px;
}
.full-row {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-column: span 6;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
p {
  grid-column: span 7;
}
h5 {
  grid-column: span 5;
}
h6,
h2,
picture {
  grid-column: span 9;
}
.full {
  grid-column: span 8;
  text-decoration: none;
}
.full:hover {
  text-decoration: underline;
}
.fat-thirds {
  grid-column: span 2;
  grid-template-columns: 1fr;
}
.fat-thirds img {
  width: 100%;
}
.fat-thirds p {
  padding-top: 10px;
  padding-bottom: 10px;
}
.single {
  grid-column: span 1;
}
.single p {
  margin-top: 10px;
}
.v-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.underline {
  border-bottom: 1px solid #dadada;
  padding-bottom: 20px;
}
